@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
    font-family: Cabin, sans-serif;
    transition: all 0.5s ease 0s;
    scroll-behavior: smooth;
}

body{
    background-color: #ebebeb;
}

.primary-color{
    background-color: #005fb1;/*#0075b18*/
}

*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    transition:.5s;
}

.cardSign{
    height: 450px;
    overflow: auto;
    padding-right: 10px;
    @media(width < 768px){
       height:auto; 
    }

}
.toast {
    @apply my-3 max-w-xs p-4 bg-white border-2 border-blue-500 rounded-lg shadow;
  }