.content{
    /* margin: 20px 0; */
}
.terms{
    color: rgb(111, 111, 111);
    font-size: 15px;
    height: 700px;
    padding-right: 30px;
    margin-bottom: 40px;
    text-align: justify;
    overflow: auto;
}
.checks{
    display: flex;
    flex-direction: column;
}
.check{
    display: flex;
}
  